<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form id="edit-products" role="form" method="post">
  <div class="modal-body-outer">
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-6 modal-left">
          <h2>Học Viên</h2>
          <p>Tên: {Name}</p>
          <p>Lớp : {Class}</p>
          <p>Điểm lý thuyết : {PoinLT}</p>
          <p>Điểm thực hành : {PoinTH}</p>
          <p>Đánh giá : {Evaluate}</p>
          <p>Mô tả : {Description}</p>
          <button><a href="/Edit">Chỉnh sửa</a></button>
          <button><a href="{delete}">Xóa</a></button>
          <button><a href="/">Thoát</a></button>
        </div>
      </div>
    </div>
  </div>
</form>

</body>